

.profile-img {
  border-radius: 100%;
  overflow: hidden;
}
.user-profile-area p a {
  margin-top: 20px;
  text-align: center;
  background: #fff;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: inherit;
}

.ot-det > p a {
  margin-top: 20px;
  text-align: center;
  background: #fff;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: inherit;
}
.updatepage .login-form input {
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #0000002e;
}
.updatepage .my--form {
  max-width: 800px;
  margin: 20px auto 0;
}
.updatepage form {
  border: none;
  border-radius: 5px;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background: #fff;
}

.input-list {
  display: flex;
  gap: 10px;
}
.input-list .input-list-avatar {
  width: 100px;
  height: 75px;
  overflow: hidden;
  border-radius: 100px;
}
.avatar-input-area {
  display: flex;
  gap: 10px;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}
.avatar-input-area input {
  border: none;
}
.updatepage .login-form .input-list:nth-last-child(1) input {
  transition: all 0.3s ease-in;
  margin-top: 20px;
  cursor: pointer;
  font-weight: 600;
}
.updatepage .login-form .input-list:nth-last-child(1) input:hover {
  background: #e31e25;
  color: #fff;
  font-weight: 600;
}
#update-pass {
  max-width: 700px;
  margin: 0 auto;
}
#update-pass h1 {
  text-align: center;
  margin: 30px 0;
}
#update-pass form {
  background: #fff;
}
#update-pass input {
  background: #f5f5f5;
  padding: 10px;
}
#update-pass input[type="submit"] {
  cursor: pointer;
}

#update-pass input[type="submit"] {
  cursor: pointer;
  transition: all 0.3s ease-in;
  font-weight: 600;
}
#update-pass input[type="submit"]:hover {
  background: #e31e25;
  color: #fff;
}

.updatepage h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* //----------user dashboard */

.dashboard-container{
  max-width: 1200px;
  margin: 0 auto;
}
.user-dash-row{
  padding: 40px;
  display: flex;
}

.user-dash-row p{
font-weight: 600;
padding-bottom: 10px;
}
.tab-buttons{
  width: 25%;
}
.tab-buttons p{
color: var(--G-green);;
border-bottom: 1px solid #eee;
margin: 10px;
cursor: pointer;
}
.tab-content{
  width: 100%;
  padding: 10px 20px;
}

@media screen and (max-width: 768px) {
  .user-dash-row{
    padding: 20px;
   flex-direction: column;
  }
  .tab-buttons{
    width: 100%;
  }
  .tab-content{
   
    padding: 20px 10px;
  }
  .prof-cont-row .col-md-4{
    width: 100%;
  }
  .tab-content{
    padding: 0;
  }
}


@media screen and (max-width: 767px) {

  .input-list .input-list-avatar {
    width: 95px;
    height: 61px;
  }
  .ot-det {
    width: 100%;
  }

}