.qun-cont button {
  padding: 5px 7px;
}
.qun-cont input {
  width: 35px;
  text-align: center;
  border: none;
}

@media only screen and (max-width: 1018px) {
  .cart-containor .postbox {
    display: flex;
    flex-wrap: wrap;
  }
  .postbox-inner {
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
    border-radius: 10px;
  }
  .wish-list .postbox-inner .col-md-8 {
    width: 100%;
  }
  .wish-list .postbox-inner .col-md-8 .row {
    flex-direction: column;
  }
  .wish-list .postbox-inner .col-md-3 {
    width: 100%;
    text-align: center !important;
  }

  .cart-containor .postbox-header {
    display: none;
  }
  .cart-containor .order-form-area {
    box-shadow: none;
  }
  .cart-containor .postbox-inner,
  .cart-containor .postbox-inner .col-md-7 .row {
    flex-wrap: wrap;
  }
  .cart-containor .postbox-inner .col-md-7 {
    width: 100%;
  }
  .cart-containor .postbox-inner .col-md-2 {
    width: 33.33%;
  }
  .cart-containor .postbox-inner .col-md-2:nth-last-child(1) {
    width: 100%;
    text-align: center !important;
    margin: 21px 0 0;
  }
  .cart-containor .postbox-inner .thumb,
  .cart-containor .postbox-inner .thumb img {
    width: 100%;
    max-width: 100%;
    height: 300px;
  }

  .cart-containor.postbox {
    display: flex;
    flex-wrap: wrap;
  }
  .cart-containor .postbox-inner {
    width: 100%;
    margin: 1%;
    padding: 10px;
  }
  .gross-profit .col-md-2 {
    width: 33.33%;
  }
}

@media only screen and (max-width: 550px) {
  .wish-list .postbox-inner .col-md-8 {
    width: 100%;
  }
  .wish-list .postbox-inner .col-md-8 .row {
    flex-direction: column;
  }
  .wish-list .postbox-inner .col-md-3 {
    width: 100%;
    text-align: center !important;
  }

  .cart-containor .postbox-inner .col-md-7 .row {
    flex-wrap: wrap;
  }
  .cart-containor .postbox-inner .col-md-7 {
    width: 100%;
  }
  .cart-containor.postbox-inner .col-md-2 {
    width: 32%;
  }
  .cart-containor .postbox-inner .col-md-2:nth-last-child(1) {
    width: 100%;
    text-align: center !important;
    margin: 21px 0 0;
  }
  .cart-containor.postbox-inner .thumb,
  .cart-containor .postbox-inner .thumb img {
    width: 100%;
    max-width: 100%;
    height: 300px;
  }
}
