.admin-page-area {
  display: flex;
}
.dashboard-title h1 {
  text-align: center;
}
#ad-body {
  width: 80%;
}
.ad-section {
  width: 100%;
  padding: 40px 20px;
}
.dashboard-summary {
  text-align: center;
}
.dashboard-summary p {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 25px;
  gap: 50px;
  border: 1px solid var(--G-green);
  border-left: none;
  border-right: none;
  padding: 20px;
  margin-top: 40px;
}

.dashboard-summary-box-2 {
  display: flex;
  justify-content: space-around;
  margin: 0px 0px;

  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.dashboard-summary-box-2 a p {
  text-align: center;
  font-weight: 500;
  color: var(--G-green);
  font-size: 20px;
}
.dashboard-summary-box-2 a p:nth-child(2) {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  font-size: 22px;
  color: var(--G-green);
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-summary-box-2 a:hover p {
  transition: all 0.3s ease-in;
  color: var(--G-green);
}
.line-Chart {
  max-width: 600px;
  margin: 30px auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px;
}

.line-Chart h2 {
  text-align: center;
}
