.shipping-box h1 {
  text-align: center;
  margin-top: 20px;
}

.section-cont form {
  background: #fff;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  padding: 20px 20px;
}
.shipping-form-containor {
  max-width: 700px;
  margin: 40px auto 20px;
}
.shipping-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.shipping-form .input-list {
  width: 100%;
  flex: 0 0 auto;
  display: inline-block;
  margin-top: 20px;
}
.shipping-form .input-list:nth-last-child(2),
.shipping-form .input-list:nth-last-child(3) {
  width: 48%;
}
.shipping-form .input-list label {
  margin-bottom: 5px;
  font-size: 16px;
}
.shipping-form .input-list label,
.shipping-form .input-list input,
.shipping-form .input-list select {
  display: block;
  width: 100%;
  flex: 0 0 auto;
}
.shipping-form .input-list input,
.shipping-form .input-list select {
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 8px;
  background: var(--g-white);
}
.shipping-form .input-list input[type="submit"] {
  cursor: pointer;
  transition: all 0.3s ease-in;
  background: var(--G-green);
  font-weight: 600;
  font-size: 18px;
  color: var(--g-white);
}

.pay-cont {
  max-width: 700px;
  margin: 30px auto;
}
.paytitle {
  text-align: center;
  margin: 30px 0;
}
.payoption {
  max-width: 500px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
}
.payoption > div {
  margin: 20px 0;
}
.payoption .pay-cod-opt input,
.payoption .pay-cod-opt label,
.pay-online input,
.pay-online label {
  cursor: pointer;
}
.payoption,
.pay-cod {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.pay-cod-btn {
  text-align: center;
}
.pay-cod-btn button {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  background: #000000;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.pay-cod-btn button:hover {
  background: #e31e25;
  color: #fff;
}
.inputTaglist {
  position: relative;
}
.inputTaglist span {
  position: absolute;
  left: 7px;
  top: 11px;
}
.inputTaglist input,
.inputTaglist select {
  padding-left: 32px !important;
}
.inputTaglist select {
  padding-left: 25px !important;
}
