#prod-cont {
  display: flex;
  padding: 0px;
  gap: 10px;
}
.shop-page {
  padding: 40px 0;
}
aside {
  width: 25%;
}
.sidebar-cont {
  margin-bottom: 40px;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  padding-bottom: 15px;
  background-color: #fff;
  /* position: sticky;
    position: -webkit-sticky;
    top: 40px; */
}
.p-sho-cont {
  width: 75%;
  position: relative;
  padding: 0px 10px;
}
.p-sho-cont .product-card {
  width: 100%;
}
.product-card {
  position: relative;
}
.product-card_btn {
  bottom: 10px;
  width: 100%;
}
.shop-page .product-details {
  text-align: center;
}
.shop-page .rev-are {
  justify-content: center;
}
.shop-page .product-price p {
  font-size: 16px;
}
.shop-page .product-details h3 {
  margin: 5px 0 0 0;
}
.shop-page .product-details h3 a {
  width: 100%;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0 10px;
  font-weight: 600;
  box-shadow: unset !important;
}

.pagination {
  display: flex;
  max-width: 400px;
  margin: 0 auto;
  justify-content: center;
}

.page-items {
  width: 50px;
  padding: 10px;
  text-align: center;
  background: #f5f5f5;
  border: 1px solid #00000008;
  cursor: pointer;
}
.pageItemActive {
  background: #e21e219c;
}
.pageItemActive a {
  color: #fff !important;
}

@media only screen and (max-width: 1008px) {
  .shop-page .aside-bar-cont {
    width: 30%;
  }
  .shop-page .product-containor .card-col {
    width: 31.5% !important;
  }
  .shop-page .product-containor {
    width: 70%;
  }
}
@media only screen and (max-width: 900px) {
  .shop-page .product-containor {
    width: 100% !important;
  }
  .shop-page .product-containor .card-col {
    width: 32.1%;
  }
  .sidebar-active {
    left: 0px;
    top: 170px;
  }
  .shop-page .aside-bar-cont {
    width: 100%;
  }
  #prod-cont {
    flex-direction: column;
  }
  .p-sho-cont {
    width: 100%;
  }

  .shop-page {
    padding: 0px 0;
  }
  aside {
    width: 100%;
  }
  .aside-bar-cont {
    position: absolute;
    left: -100%;
  }
  .mob-filter {
    padding: 10px;
  }
  .mob-filter p {
    display: inline;
    cursor: pointer;
  }
  .mob-filter svg {
    font-size: 14px;
  }
  .sidebar-active {
    left: 0px;
    top: 70px;
  }
  .section-cont {
    position: relative;
  }
  .prod-cont .sidebar-active {
    background: #fff;
    height: 100%;
    z-index: 50;
  }
}

.shop-page .aside-bar-cont {
  width: 25%;
}
.shop-page .product-containor {
  width: 75%;
}
.shop-page .product-containor .card-col {
  width: 32%;
}

@media only screen and (max-width: 809px) {
  .shop-page .product-containor .card-col {
    width: 32%;
  }
}
@media only screen and (max-width: 750px) {
  .shop-page .product-containor .card-col {
    width: 48% !important;
  }
}
@media only screen and (max-width: 665px) {
  .shop-page .product-containor .card-col {
    width: 47.5% !important;
  }
}
@media only screen and (max-width: 499px) {
  .shop-page .product-containor .card-col {
    width: 47.111% !important;
  }
}